
.vs/BlazorCRUD1/xs/project-cache/BlazorCRUD1-Debug.json
.vs/BlazorCRUD1/xs/UserPrefs.xml
.vs/BlazorCRUD1/xs/project-cache/BlazorCRUD1-Release.json
*.log
*.cache
*.dll
BlazorCRUD1/obj/**
BlazorCRUD1/bin/**
*.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/BlazorCRUD1.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/BlazorCRUD1.pdb
BlazorCRUD1/bin/Debug/netcoreapp3.1/BlazorCRUD1.runtimeconfig.dev.json
BlazorCRUD1/bin/Debug/netcoreapp3.1/BlazorCRUD1.StaticWebAssets.xml
BlazorCRUD1/bin/Debug/netcoreapp3.1/BlazorCRUD1.Views.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/BlazorCRUD1.Views.pdb
BlazorCRUD1/bin/Debug/netcoreapp3.1/Blazored.Modal.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Dapper.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authorization.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Components.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Components.Forms.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Components.Web.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Metadata.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.JSInterop.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
BlazorCRUD1/bin/Debug/netcoreapp3.1/zh-hk/BlazorCRUD1.resources.dll
BlazorCRUD1/obj/BlazorCRUD1.csproj.nuget.dgspec.json
BlazorCRUD1/obj/BlazorCRUD1.csproj.nuget.g.props
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.assets.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.csproj.CoreCompileInputs.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.csproj.FileListAbsolute.txt
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.csproj.GenerateResource.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.csprojAssemblyReference.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.dll
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.pdb
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.RazorComponent.input.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.RazorCoreGenerate.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.TagHelpers.output.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.Views.dll
BlazorCRUD1/obj/Debug/netcoreapp3.1/BlazorCRUD1.Views.pdb
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/_Imports.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/App.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/_Host.cshtml.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/AddArticle.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/AddCustomer.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/AddProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/AddStock.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/ConfirmTxn.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/DeleteProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/EditArticle.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/EditCustomer.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/EditProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/Error.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/FetchArticle.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/FetchCustomer.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/FetchProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Pages/TxnRecord.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Shared/MainLayout.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorCRUD1.dll
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorCRUD1.pdb
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/AddArticle.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/AddCustomer.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/AddProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/AddStock.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/ConfirmTxn.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/DeleteProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/EditArticle.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/EditCustomer.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/EditProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchArticle.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchCustomer.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchProduct.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/TxnRecord.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
BlazorCRUD1/obj/Debug/netcoreapp3.1/staticwebassets/BlazorCRUD1.StaticWebAssets.Manifest.cache
BlazorCRUD1/obj/Debug/netcoreapp3.1/staticwebassets/BlazorCRUD1.StaticWebAssets.xml
BlazorCRUD1/obj/Debug/netcoreapp3.1/zh-hk/BlazorCRUD1.resources.dll
