@inject IStoreManager storeManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@storeInfo.StoreName</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> SALE
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="productlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Product
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stocklist">
                <span class="oi oi-plus" aria-hidden="true"></span> Customer
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="txnRecord">
                <span class="oi oi-plus" aria-hidden="true"></span> Txn Record
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    Store storeInfo = new Store();

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        storeInfo = await storeManager.GetById(1);
    }
}
