@page "/"
@inject IProductManager productManager
@inject ISaleTxnManager saleManager
@inject IStockManager stockManager
@inject ICustomerManager customerManager
@inject IOrderManager orderManager
@inject IModalService Modal
@inject IStringLocalizer<Index> localizer
@inject IStoreManager storeManager

<div class="search-wrapper"><p>Login page</p></div>
   