@page "/"
@inject IProductManager productManager
@inject ISaleTxnManager saleManager
@inject IStockManager stockManager
@inject ICustomerManager customerManager
@inject IOrderManager orderManager
@inject IModalService Modal
@inject IStringLocalizer<Index> localizer
@inject IStoreManager storeManager
@inject IUserManager userManager

<p>Login Page </p>
@if (auth)
{
    <p>@welcomeMessage</p>
}
@if (!auth)
{
    <form id="list-table-search-form" class="search-form" action="" method="post">
        <div class="form-group">
            <label for="userName">@localizer["userName"]</label>
            <input id="userName" name="userName" type="text" @bind="u.UserName" @bind:event="oninput" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">@localizer["password"]</label>
            <input id="password" name="password" type="text" @bind="u.PasswordHash" @bind:event="oninput" class="form-control">
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="() => login()">Login</button>
        </div>
    </form>}


@code {
    bool auth = false;
    String welcomeMessage = "";
    int userId = 10;

    User u = new User();

    async void login()
    {
        userId = await userManager.Login(u);
        auth = true;
        welcomeMessage = "Welcome " + userId;
        StateHasChanged();
    }



    //protected async Task CreateArticle()
    //{
    //    await articleManager.Create(article);
    //    navigationManager.NavigateTo("/articlelist");
    //}

    //void cancel()
    //{
    //    navigationManager.NavigateTo("/articlelist");
    //}
}